body{
    padding: 0;
    margin: 0;
}
header{
    background-color: #eee;
}
nav{
    min-height: 100px;
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    padding: 0 10px;
}

main{
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}

section{
    border-right: 1px solid #eee;
}
footer{
    text-align: center;
}
@media  (min-width: 300px) and (max-width: 480px) {
    nav, nav ul{
        flex-direction: column-reverse;
    }
    
}
@media  (min-width: 481px) and (max-width: 1000px) {
    nav, nav ul{
        flex-direction: column-reverse;
    }
    
}